<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author tao on 2020-04-18 14:52:25 -->
<mapper namespace="com.admin.dao.RoleMapper">
    <resultMap type="com.admin.entity.Role" id="roleMap">
        <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="type" property="type"/>
            <result column="create_time" property="createTime"/>
            <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <!-- //@NotReplaceableStart -->
    <!-- 重新生成代码时，NotReplaceableStart -> NotReplaceableEnd 中间的内容不会被覆盖 -->

    <select id="selectAllocatedUser" resultType="com.admin.dto.RoleUserDto">
        select r.id as id, u.loginname as loginname, u.username as username,
        u.telphone as telphone, u.email as email, u.status as status, u.create_time as createTime
        from role_user as r left join admin as u on r.uid = u.id
        ${ew.customSqlSegment}
    </select>
    <select id="selectUnallocatedUser" resultType="com.admin.dto.RoleUserDto">
        select u.loginname as loginname, u.username as username,
        u.telphone as telphone, u.email as email, u.status as status, u.create_time as createTime
        from admin as u where not exists(select * from role_user where u.id=uid and rid=5)
         <if test="param.loginname!=null and param.loginname!=''">
            and loginname like CONCAT('%', #{param.loginname},'%')
         </if>
        <if test="param.telphone!=null and param.telphone!=''">
            and telphone = #{param.telphone}
        </if>
    </select>

    <!-- //@NotReplaceableEnd  -->
</mapper>
