<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author tao on 2020-04-29 16:36:09 -->
<mapper namespace="com.admin.dao.RoleUserMapper">
    <resultMap type="com.admin.entity.RoleUser" id="roleUserMap">
        <id column="id" property="id"/>
            <result column="rid" property="rid"/>
            <result column="uid" property="uid"/>
    </resultMap>
    <!-- //@NotReplaceableStart -->
    <!-- 重新生成代码时，NotReplaceableStart -> NotReplaceableEnd 中间的内容不会被覆盖 -->

    <delete id="deleteCancel">
        delete from role_user where rid = #{rid} and uid = #{uid}
    </delete>
    <!-- //@NotReplaceableEnd  -->
</mapper>